# Build output
dist/
.output/

# Generated types
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Editor
.DS_Store
.vscode/settings.json
